h1{
    color: rgb(213, 36, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

p{
    margin: 0px 100px;
    background-color: grey;
}